<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>


<body>
    <script>
        let apps = [
            "analogclock.css",
            "antihosting.css",
            "apm.css",
            "battleshipbot.css",
            "battleshipgameengine.css",
            "bitmasks.css",
            "bookfinderapp.css",
            "boolebotsgame.css",
            "borderradiuspreviewer.css",
            "calculator.css",
            "calculatorcli.css",
            "calendar.css",
            "caloriecounter.css",
            "camapp.css",
            "cardmemorygame.css",
            "causeeffectapp.css",
            "charityfinderapp.css",
            "chatapp.css",
            "christmaslights.css",
            "chromethemeextension.css",
            "colorcycle.css",
            "contributiontrackerapp.css",
            "countdowntimer.css",
            "cps.css",
            "csvtojsonapp.css",
            "currencyconverter.css",
            "dollarstocents.css",
            "drawingapp.css",
            "dynamiccssvariables.css",
            "elevator.css",
            "emojitranslatorapp.css",
            "fastfoodsimulator.css",
            "firstdbapp.css",
            "flashcardsapp.css",
            "flipartapp.css",
            "flipimage.css",
            "gamesuggestionapp.css",
            "githubclone.css",
            "githubprofiles.css",
            "githubstatus.css",
            "githubtimeline.css",
            "gmailclone.css",
            "hello.css",
            "highstrikergame.css",
            "hunting_words.css",
            "imagescanner.css",
            "instagramclone.css",
            "iotmailboxsimulator.css",
            "jsinputvalidation.css",
            "keyvalue.css",
            "kudosslackbot.css",
            "loremipsumgenerator.css",
            "markdownpreviewer.css",
            "markdowntablegenerator.css",
            "matheditor.css",
            "meetclone.css",
            "memegeneratorapp.css",
            "movieapp.css",
            "musicviewerapp.css",
            "mypodcastlibrary.css",
            "namegenerationusingrnns.css",
            "nasaexoplanetquery.css",
            "norograma.css",
            "notesapp.css",
            "nubankclone.css",
            "numberbaseconverter.css",
            "passwordgenerator.css",
            "pearsonregression.css",
            "photosviewerapp.css",
            "podcastdirectory.css",
            "pomodoroclock.css",
            "pong.css",
            "productlandingpage.css",
            "qrcodebadgegenerator.css",
            "quizapp.css",
            "randommealgenerator.css",
            "randomnumbergenerator.css",
            "recipeapp.css",
            "regularexpressionhelper.css",
            "romantodecimalconverter.css",
            "salesrecieptsapp.css",
            "shellgame.css",
            "shuffledeck.css",
            "simpleonlinestore.css",
            "slackarchiver.css",
            "sliderdesign.css",
            "spacenavygame.css",
            "spellitapp.css",
            "spinroulette.css",
            "sportsbracketgenerator.css",
            "stopwatchapp.css",
            "stringart.css",
            "surveyapp.css",
            "thisorthatgame.css",
            "tictactoegame.css",
            "timezoneslackbot.css",
            "todoapp.css",
            "trueorfalse.css",
            "typingpractice.css",
            "vigenerecipher.css",
            "votingapp.css",
            "weatherapp.css",
            "whatsappclone.css",
            "windchill.css",
            "wordfrequency.css",
            "youtubeclone.css"
        ]

        let cmd = 'touch '

        apps.forEach((app, index) => {
            cmd += ` ${app.replace('.css', '.ejs')} `
        });

        console.log(cmd)

        // fetch('https://api.github.com/repos/DaniloDCS/Multiprojects/contents/public/css')
        //     .then((result) =>
        //         result.json()
        //     ).then((result2) => {
        //         result2.forEach(element => {
        //             console.log(element)
        //             apps.push(element.name)
        //         });
        //     }).catch((err) => {

        //     });


        console.log(apps)
    </script>
</body>

</html>