<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>


<body>
    <script>
        fetch(
                "https://api.github.com/repos/DaniloDCS/Multiprojects/contents/public/css"
            )
            .then((response) => response.json())
            .then((res) => {
                res.forEach((page) => {
                    let name = page.name.replace(".css", ""),
                        app = document.createElement("a");

                    app.innerHTML = name
                    app.href = './' + name

                    document.body.append(app)
                });
            })
            .catch((err) => {});
    </script>
</body>

</html>