<div class="app">
    <div class="config">
        <input id="color" type="color">
    </div>
    <div class="application">
        <div class="bottom">
            <div id="value-bottom">
                <small class="value">0%</small>
            </div>
            <input id="radius-bottom" type="range" value="0" min="0" max="100">
        </div>
        <div class="center">
            <div class="right">
                <div id="value-right">
                    <small class="value">0%</small>
                </div>
                <input id="radius-right" type="range" value="0" min="0" max="100">
            </div>
            <div class="previewer-box">
                <div id="previewer" class="previewer"></div>
            </div>
            <div class="left">
                <div id="value-left">
                    <small class="value">0%</small>
                </div>
                <input id="radius-left" type="range" value="0" min="0" max="100">
            </div>
        </div>
        <div class="top">
            <div id="value-top">
                <small class="value">0%</small>
            </div>
            <input id="radius-top" type="range" value="0" min="0" max="100">
        </div>
    </div>
</div>