<video autoplay id="video"></video>
<button class="btn" id="capture" type="button">
    <i class="fas fa-camera-retro"></i>
</button>
<div class="modal">
    <div class="modal-box">
        <div class="view">
            <img src="" alt="" id="img">
        </div>
        <div class="config">
            <a id="save" download="Photo"> <i class="fas fa-save"></i> Save </a>
            <button id="delete"> <i class="fas fa-trash"></i> Delete </button>
        </div>
    </div>
</div>