<div class="group">
    <h2 class="title">COUNTDOWN</h2>
    <div class="input-group">
        <label for="hours">HOURS</label>
        <input type="number" id="hours" value="45">
    </div>
    <div class="input-group">
        <label for="minutes">MINUTES</label>
        <input type="number" id="minutes" value="10">
    </div>
    <div class="input-group">
        <label for="seconds">SECONDS</label>
        <input type="number" id="seconds" value="30">
    </div>
    <div class="input-group">
        <button id="btn-start">START <i class="far fa-play-circle"></i></button>
    </div>
</div>
<div class="countdown">
    <div class="group-values">
        <div class="sub-group">
            <div id="days-value">00</div>
            <h2 class="description">DAYS</h2>
        </div>
        <div class="sub-group">
            <div id="hours-value">00</div>
            <h2 class="description">HOURS</h2>
        </div>
        <div class="sub-group">
            <div id="minutes-value">00</div>
            <h2 class="description">MINUTES</h2>
        </div>
        <div class="sub-group">
            <div id="seconds-value">00</div>
            <h2 class="description">SECONDS</h2>
        </div>
    </div>
    <div class="sub-group">
        <button id="btn-stop"> <i class="fas fa-stop-circle"></i> STOP</button>
        <button id="btn-finish"> <i class="fas fa-times-circle"></i> FINISH</button>
        <button id="btn-restart"> <i class="fas fa-redo"></i> RESTART</button>
    </div>
</div>