<div class="group">
    <label for="binary">Binary</label>
    <textarea id="binary" rows="3"></textarea>
</div>
<div class="group">
    <label for="octal">Octal</label>
    <textarea id="octal" rows="3"></textarea>
</div>
<div class="group">
    <label for="decimal">Decimal</label>
    <textarea id="decimal" rows="3"></textarea>
</div>
<div class="group">
    <label for="hexadecimal">Hexadecimal</label>
    <textarea id="hexadecimal" rows="3"></textarea>
</div>