<div class="group">
        <div class="input-group">
            <input required type="number" name="" id="min">
            <label for="min">Minimum</label>
        </div>
        <div class="input-group">
            <input required type="number" name="" id="max">
            <label for="max">Maximum</label>
        </div>
        <div class="input-group">
            <input required type="number" name="" id="quantity">
            <label for="quantity">Quantity of numbers</label>
        </div>
        <div class="input-group">
            <button id="generate">Generate</button>
        </div>
    </div>
    <div class="result">
        <div id="result"></div>
    </div>