<div class="clock">
    <h1 id="timer">00:00:00:00</h1>
</div>
<div class="btn-group">
    <button id="btn-start">START</button>
    <button id="btn-pause">PAUSE</button>
    <button id="btn-restart">RESTART</button>
</div>